.BioSlider-thumb {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.BioSlider-thumbImage {
  width: 73px;
  height: 92px;
  display: block;
  background-size: cover;
  margin: 0 auto;
}

.BioSlider-thumbTitle {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}
