@import 'colors';

.MainNavigation {
  background-color: $dark-red-color;
  border-top: 3px solid $mid-red-color;
}

.MainNavigation-items {
  list-style: none;
  flex-wrap: wrap;
  padding: 4px 8px 8px;
}

.MainNavigation-itemLink {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: lowercase;
  padding: 2px 8px 4px;
  margin: 0 8px;
  line-height: 24px;
  transition: all .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 4px;
}

.MainNavigation-item:not(:last-child)::after {
  content: '|';
  color: #fff;
}

.MainNavigation-itemLink:hover,
.MainNavigation-item--current .MainNavigation-itemLink {
  color: $yellow-color;
  background-color: $mid-red-color;
}
