@import 'colors';

.page-header {
  padding-top: 16px;
  padding-bottom: 8px;
}

.page-header__logo {
  display: inline-block;
  text-align: center;
}

.page-header__logo__image {
  width: 80%;
}

@media screen and (min-width: 428px) {
  .page-header {
    padding-top: 8px;
    padding-left: 16px;
  }

  .page-header__logo {
    text-align: left;
  }

  .page-header__logo__image {
    width: 342px;
    height: 160px;
  }
}

.main-search {
  padding-bottom: 16px;
  padding-right: 16px;
}

%main-search__element {
  height: 34px;
  border: none;
  outline: none;
  font-size: 14px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.main-search__input {
  @extend %main-search__element;
  background-image: url('/img/search_input.png');
  width: 156px;
  padding-left: 16px;
}

.main-search__input::placeholder {
  color: $mid-red-color;
}

.main-search__button {
  @extend %main-search__element;
  background-image: url('/img/search_button.png');
  width: 34px;
  text-indent: -9999px;
  cursor: pointer;
}
