@import 'colors';

.Page-body {
  background-color: rgb(235, 235, 219);
}

.Page-content {
  padding: 24px;
  line-height: 1.75em;
}

.Page-section {
  margin-bottom: 24px;
}

.Page-sectionTitle {
  text-transform: uppercase;
  color: $mid-red-color;
  font-size: 20px;
  font-weight: 400;
}
