.u-trumpetBackground {
  background-image: url( '/img/bg_trumpet.png' );
  background-size: cover;
  background-repeat: no-repeat;
}

.u-fluteBackground {
  background-image: url( '/img/bg_flute.png' );
  background-size: cover;
  background-repeat: no-repeat;
}
