.grid--container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.xs-1of12 { width: 1/12 * 100%; }
.xs-2of12 { width: 2/12 * 100%; }
.xs-3of12 { width: 3/12 * 100%; }
.xs-4of12 { width: 4/12 * 100%; }
.xs-5of12 { width: 5/12 * 100%; }
.xs-6of12 { width: 6/12 * 100%; }
.xs-7of12 { width: 7/12 * 100%; }
.xs-8of12 { width: 8/12 * 100%; }
.xs-9of12 { width: 9/12 * 100%; }
.xs-10of12 { width: 10/12 * 100%; }
.xs-11of12 { width: 11/12 * 100%; }
.xs-12of12 { width: 12/12 * 100%; }

@media screen and (min-width: 768px) {
  .grid--container {
    max-width: 720px;
  }

  .sm-1of12 { width: 1/12 * 100%; }
  .sm-2of12 { width: 2/12 * 100%; }
  .sm-3of12 { width: 3/12 * 100%; }
  .sm-4of12 { width: 4/12 * 100%; }
  .sm-5of12 { width: 5/12 * 100%; }
  .sm-6of12 { width: 6/12 * 100%; }
  .sm-7of12 { width: 7/12 * 100%; }
  .sm-8of12 { width: 8/12 * 100%; }
  .sm-9of12 { width: 9/12 * 100%; }
  .sm-10of12 { width: 10/12 * 100%; }
  .sm-11of12 { width: 11/12 * 100%; }
  .sm-12of12 { width: 12/12 * 100%; }
}

@media screen and (min-width: 992px) {
  .grid--container {
    max-width: 960px;
  }

  .md-1of12 { width: 1/12 * 100%; }
  .md-2of12 { width: 2/12 * 100%; }
  .md-3of12 { width: 3/12 * 100%; }
  .md-4of12 { width: 4/12 * 100%; }
  .md-5of12 { width: 5/12 * 100%; }
  .md-6of12 { width: 6/12 * 100%; }
  .md-7of12 { width: 7/12 * 100%; }
  .md-8of12 { width: 8/12 * 100%; }
  .md-9of12 { width: 9/12 * 100%; }
  .md-10of12 { width: 10/12 * 100%; }
  .md-11of12 { width: 11/12 * 100%; }
  .md-12of12 { width: 12/12 * 100%; }
}
