.column-layout {
  display: flex;
  flex-direction: row;
}

.column-layout--align-bottom {
  align-items: flex-end;
}

.row-layout {
  display: flex;
  flex-direction: column;
}

.layout__item--expand {
  flex-grow: 1;
}

.layout__item--fixed {
  flex-shrink: 0;
}
